/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

a {
    display: inline-block;
}


@font-face {
    font-family: Klein;
    src: url("./fonts/Klein-Condensed-ExtraBold-trial.ttf");
}
@font-face {
    font-family: Spartan;
    src: url("./fonts/LeagueSpartan-VariableFont_wght.ttf");
}

:root {
    --yellow-clr: #fbeba1;
    --purple-clr: #4c62b7;
    --orange-clr: #f6a42c;
    --white-clr: #ffffef;

    --ff-primary: Spartan;
    --ff-secondary: Klein;

    --fw-n: 400;
    --fw-b: 700;
    --fw-eb: 800;

    --fs-sm: 1rem;
}

body {
    margin: 0;
    color: var(--purple-clr);
    background-color: var(--yellow-clr);
    font-family: var(--ff-primary);
    font-weight: var(--fw-eb);
}

img {
    max-width: 100%;
}

a:hover {
    opacity: .80;
}
.svg {
    width: 30px;
    height: 30px;
    fill: var(--white-clr);
    margin-right: 2px;
}

#circle {
    width: 20px;
    height: 20px;
    background-color: #4c62b7;
    border-radius: 50%;
    position: relative;
    right: 71px;
    bottom: 2px;
    z-index: -1;
}
.btn {
    text-decoration: none;
    background-color: var(--white-clr);
    color: var(--purple-clr);
    padding: 0.5em 1em;
    /* border: lime solid 1px; */
}


.accent-clr {
    color: var(--orange-clr);
    margin: 0.5em 0;
}

.tt-upper {
    text-transform: uppercase;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}


.row {
    display: flex;
    justify-content: space-between;  
}

.opening-help {
    display: flex;
    align-items: center;
}
.opening, .profile {
    padding: 5em 0;
}

.opening-content {
    width: 60%;
}
.opening-content__text {
    /* font-family: var(--ff-secondary); */
    font-size: 2.5rem;
    margin-top: 1em;
    line-height: 1em;
    letter-spacing: -1px;
}

.profile, .ending {
    background-color: var(--purple-clr);
    color: var(--white-clr);
}

.profile-content {
    width: 60%;

}

.profile-content__text {
    margin-bottom: 1em;
    font-weight: var(--fw-n);
    font-size: 1.3rem;
}

.profile-img {
    width: 40%;
    align-items: flex-start;

}

.scroller {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
}
.scroller__inner > * {
    /* border: red solid 2px; */
    width: 100%;
    max-height: 80px;
}
.scroller__inner {
    display: flex;
    padding-block: 1rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.scroller[data-animated=true] {
    /* border: 5px solid black; */
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
    );
    mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
    );
}

.scroller[data-animated=true] .scroller__inner{
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 30s linear infinite;
}

.ending {
    padding-block: 5em;
}

.ending a {
    margin-bottom: 3em;
}
.logo {
    letter-spacing: -2px;
    text-align: end;
}

@keyframes scroll {
    to {
        transform: translate(-50%);
    }
    
}



@media (max-width: 600px) {
    body {
        font-size: 10px;
        text-align: center;
    }

    #circle{
        right: 55px;
    }
    .opening {
        padding-top: 4em;
    }

    .opening-content__text {
        font-size: 2rem;
    }
    .opening-content {
        width: auto;
    }
    
    .row {
        flex-direction: column-reverse;
    }

    .profile-content, .opening-content {
        width: 100%;
        margin-top: 3em;
    
    }
    
    .profile-img {
        width: 100%;
        
    }

    .scroller {
        margin: 1rem auto;
    }

    .scroller__inner > * {
        max-height: 50px;
    }

    .ending {
        padding-block: 4em;
    }

    .logo {
        text-align: center;
    }

    .ending a {
        margin-bottom: 2em;
    }

    .ending .svg {
        width: 20px;
        height: 20px;
        margin-bottom: 2em;
    }
}
