/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

a {
    display: inline-block;
}


@font-face {
    font-family: Klein;
    src: url("./fonts/Klein-Condensed-ExtraBold-trial.ttf");
}
@font-face {
    font-family: Spartan;
    src: url("./fonts/LeagueSpartan-VariableFont_wght.ttf");
}

:root {
    --yellow-clr: #fbeba1;
    --purple-clr: #4c62b7;
    --orange-clr: #f6a42c;
    --white-clr: #ffffef;

    --ff-primary: Spartan;
    --ff-secondary: Klein;

    --fw-n: 400;
    --fw-b: 700;
    --fw-eb: 800;

    --fs-sm: 1rem;
}

body {
    margin: 0;
    color: var(--purple-clr);
    background-color: var(--yellow-clr);
    font-family: var(--ff-primary);
    font-weight: var(--fw-eb);
}

img {
    max-width: 100%;
}
.svg {
    width: 30px;
    height: 30px;
    fill: var(--white-clr);
    margin-right: 2px;
}

#circle {
    width: 20px;
    height: 20px;
    background-color: #4c62b7;
    border-radius: 50%;
    position: relative;
    right: 71px;
    bottom: 2px;
    z-index: -1;
}
.btn {
    text-decoration: none;
    background-color: var(--white-clr);
    color: var(--purple-clr);
    padding: 0.5em 1em;
    /* border: lime solid 1px; */
}

.accent-clr {
    color: var(--orange-clr);
    margin: 0.5em 0;
}

.tt-upper {
    text-transform: uppercase;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}


.row {
    display: flex;
    justify-content: space-between;  
}

.opening-help {
    display: flex;
    align-items: center;
}
.opening, .profile {
    padding: 5em 0;
}

.opening-content {
    width: 60%;
}
.opening-content__text {
    /* font-family: var(--ff-secondary); */
    font-size: 2.5rem;
    margin-top: 1em;
    line-height: 1em;
    letter-spacing: -1px;
}

.profile {
    background-color: var(--purple-clr);
    color: var(--white-clr);
}

.profile-content {
    width: 60%;

}

.profile-content__text {
    margin-bottom: 1em;
    font-weight: var(--fw-n);
    font-size: 1.3rem;
}

.profile-img {
    width: 40%;
    align-items: flex-start;

}


@media (max-width: 600px) {
    body {
        font-size: 10px;
    }

    #circle{
        right: 55px;
    }
    .opening {
        padding-top: 4em;
    }

    .opening-content__text {
        font-size: 2rem;
    }
    .opening-content {
        width: auto;
    }
    
    .row {
        flex-direction: column-reverse;
    }

    .profile-content, .opening-content {
        text-align: center;
        width: 100%;
        margin-top: 3em;
    
    }
    .opening-content__text {
        text-align: start;
    }
    
    .profile-img {
        width: 100%;
        
    }

}
