*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

a {
    display: inline-block;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}


@font-face {
    font-family: KleinBlack;
    src: url("./fonts/KleinText-Black.otf");
}

@font-face {
    font-family: KleinBold;
    src: url("./fonts/KleinText-Bold.otf");
}

@font-face {
    font-family: League Spartan;
    src: url("./fonts/LeagueSpartan-VariableFont_wght.ttf");
}

:root {
    --yellow-clr: #fbeba1;
    --purple-clr: #4c62b7;
    --orange-clr: #f6a42c;
    --white-clr: #ffffef;
    --black-clr: #000010;

    --ff-ls: League Spartan;
    --ff-kleinbold: KleinBlack;
    --ff-klein: KleinBold;

    --fw-n: 400;
    --fw-b: 700;
    --fw-eb: 800;

    --fs-sm: .5rem;
    --fs-md: .75rem;
    --fs-lg: 1rem;
}

body {
    margin: 0;
    color: var(--purple-clr);
    background-color: var(--yellow-clr);
    font-family: var(--ff-kleinbold);
    line-height: 1.2;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75em;
}

a:hover {
    opacity: .80;
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.question-mark {
    width: 1.25rem;
    aspect-ratio: 1;
}

.need-help {
    display: flex;
    align-items: center;
    padding: 2em 0;
    font-size: .5rem;
}

.up {
    text-transform: uppercase;
}
.accnt-clr {
    color: var(--orange-clr);
}

.opening {
    padding-block: 1em;
    /* min-height: 100vh; */
}

/* .opening > .container:nth-of-type(1) {
    min-height: 90vh;
    padding-block-start: 20vh;

} */

.opening > .container:nth-of-type(2) {
    min-height: 10vh;
}

.opening__text {
    font-size: 1.5rem;
    min-height: 5em;
}


.opening__text--question {
    font-size: 0.75rem;
    font-family: var(--ff-klein);
    padding-top: 1em;
}

.btn {
    background-color: var(--white-clr);
    color: var(--purple-clr);
    padding: .5em .75em;
    margin: 1em 0;
    text-decoration: none;
    font-family: var(--ff-klein);
    font-size: var(--fs-md);
}

.btn:hover, .btn:focus {
    opacity: .7;
}


.logo {
    font-family: var(--ff-ls);
    font-weight: var(--fw-b);
    font-size: 1.5rem;
    letter-spacing: -2px;
    text-align: end;
}

.profile {
    background-color: var(--purple-clr);
    color: var(--white-clr);
    font-size: .5rem;
    font-family: var(--ff-klein);
    text-align: center;
    padding-block-end: 4em;
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
}


.face-card {
    padding: 5em 0;
    width: 15rem;
    margin: 0 auto;
    /* animation: appear 2s linear;
    animation-timeline: view(); */
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}


.profile__text {
    font-size: var(--fs-lg);
}
.profile__links {
    display: flex;
    gap: 2em;
    justify-content: center;
}

/* .profile__first {
    display: none;
}

.profile__second {
    position: absolute;
    top: 279px;
    display: none;
} */

.clients {
    padding: 2em 0;
}

.clients__title {
    padding-block-end: 1em;
    /* position: sticky; */
}
.clients__company-img {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.clients__company-img > img {
    max-height: 45px;
    margin: 0 auto;
}

.clients__content {
    font-family: var(--ff-klein);
    font-size: .75rem;
}

.clients__content > p:first-child {
    padding: 2em 0 1em 0;
    text-transform: uppercase;
}

.clients__content--title {
    font-size: 1rem;
}

.clients__content--clip {
    padding-block-start: 3em;
    display: flex;
    gap:1em;
    align-items: center;
    justify-content: space-between;
}

.clients__content--clip > div{
    min-height: 100px;
    min-width: 100px;
    color:var(--white-clr);
    background: #4c62b7;
    text-align: center;
    padding: 40px 0;

}


.clients__content--socmed {
    padding-block-start: 3em;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.clients__content--socmed > div {
    background-color: var(--purple-clr);
    color:var(--white-clr);
    text-align: center;
    min-height: 20em;
    min-width: 10em;
    padding-top: 5em;
}

.clients__content--text {
    color: var(--purple-clr);
    font-family: var(--ff-klein);
    padding-block-start: 1em;
    text-align: center;
}
.clients__content--text > p {
    padding-block: 1em;

}

/* .clients__content--clip {
    padding-block-start: 2em;
} */

.clients__content--img {
    padding-inline: 3em;
}

.milestones, .pipeline {
    padding-block-end: 1em;
}

.milestones__title {
    padding-block: 1em;
}

.pipeline__title {
    padding-bottom: 1em;
}

.milestones__items, .pipeline__items {
    font-size: var(--fs-md);
    font-family: var(--ff-klein);
    color: var(--black-clr);
    padding-inline-start: 1rem;
    text-align: center;
}

.milestones__items > *, .pipeline__items > * {
    padding-block-end: 1em;

}

.milestones__items--items > * {
    padding-inline-start: 1rem;
}


.pipeline__text {
    font-size: var(--fs-md);
    font-family: var(--ff-klein);
    color: var(--black-clr);
    padding-bottom: 1rem; 
}
.pipeline__text:nth-of-type(2) {
    padding-bottom: 0;
}



